/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */


.column1 {
float:left;
width: 33%;
background: #ffffff;
margin-right: 0.5%;
margin-top: 1%;
}

.column2 {
  float:left;
  width: 33%;
  background: #ffffff;
  margin-right: 0.5%;
margin-top: 1%;
}

.column3 {
float:left;
width: 33%;
background: #ffffff;
margin-top: 1%;

}

.column4{
  float:left;
  width: 66.5%;
  margin-right:0.5%;
  background: #ffffff;
}

.column5 {
float:left;
width: 33%;
background: #ffffff;
}


.marginn{
  margin-bottom: 2%;
}

#column-soc {

float:left;
width: 33%;
background: rgba(0,0,0,0);
margin-top: 1%;

}

#shoearchive .shadow {
background: rgba(0,0,0,0);

}
